.select-wrapper {
  position: relative;
  min-width: 260px;
  cursor: pointer;
}
.select-wrapper__input {
  border: 1px solid var(--color-border-default);
  outline: none;
  border-radius: 4px;
  height: 36px;
  line-height: 36px;
  padding-left: 12px;
  padding-right: 40px;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  background-color: #fff;
}
.select-wrapper__input:focus {
  border-color: var(--color-focus);
}
.select-wrapper__input:hover {
  border-color: var(--color-hover);
}
.select-wrapper__list {
  position: absolute;
  max-height: 308px;
  overflow: auto;
  padding: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 16px rgba(23, 27, 42, 0.24);
  display: none;
  padding: 12px;
}
.select-wrapper__list li {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 12px;
  /* width: 100%; */
}
.select-wrapper__list li:hover,
.select-wrapper__list li.selected {
  background-color: rgba(80, 184, 60, 0.1);
  /* color: var(--color-primary); */
}

.select-wrapper__icon {
  height: 36px;
  width: 40px;
  border-left: 1px solid var(--color-border-default);
  z-index: 1;
  top: 0;
  right: 0;
  position: absolute;
}
.select-wrapper__icon .dropdown-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../assets/images/Sprites.64af8f61.svg") no-repeat -1129px -361px;
}
.select-wrapper .select-wrapper__list.show {
  display: block;
}
