/*sidenav css*/
.sidebar {
  width: 200px;
  height: 100vh;
  display: inline-block;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #020a01;
  color: #fff;
}
.nav-brand {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  padding: 0 16px;
}
.toggle {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background: url("../assets/images/Sprites.64af8f61.svg") no-repeat -424px -87px;
  cursor: pointer;
}
.logo {
  height: 36px;
  width: 36px;
  background-image: url("../assets/images/Logo_Module_TiengViet_White.66947422.svg");
  background-size: contain;
  background-repeat: no-repeat;
  flex: 1;
  cursor: pointer;
  /* background-position: center; */
}
.nav-list {
  flex: 1;
  padding: 20px 12px;
}
.nav-item {
  height: 44px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  column-gap: 12px;
  cursor: pointer;
  border-radius: 4px;
}
.nav-item:hover {
  background-color: #2c332d;
}
.nav-item--active {
  background-color: #2c332d;
  /* opacity: 0.16; */
}
.nav__icon {
  height: 24px;
  width: 24px;
}
.nav__text {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}
.nav-action {
  padding-left: 24px;
  height: 44px;
  display: flex;
  align-items: center;
  cursor: pointer;
  column-gap: 16px;
  border-top: 1px solid #213553;
}
.nav-action .nav__icon {
  background: url("../assets/images/Sprites.64af8f61.svg") no-repeat 1.45%
    21.45%;
}
